params {

    container = 'quay.io/lifebitai/alu_falu_kralu'
    sample_batch_size = 2
    max_alleles = 50
    threads = 1
    gvcf_list = "s3://public-genomes/resources/s3_gvcf_list.txt"
    regions_file = "s3://public-genomes/resources/V8_aggregation_regions_file.txt.backup"
    reference = "s3://public-genomes/GRCh38_full_analysis_set_plus_decoy_hla.fa"
    echo = true
    cpus = 2
    disk = '50 GB'
    maxForks = 200
    maxRetries = 5
    executor = 'awsbatch'
    queueSize = 200
    errorStrategy = 'ignore'
    cache = 'lenient'
}

process {
    disk = params.disk
    container =  params.container
    cache = params.cache
    echo = params.echo
    cpus = params.cpus
    disk = params.disk
    maxForks = params.maxForks
    maxRetries = params.maxRetries
    errorStrategy = params.errorStrategy
}

executor {
    name = params.executor
    queueSize = params.queueSize
    }

docker {
    enabled = true
    runOptions = "--ulimit nofile=65535:65535 --ulimit nproc=65535 --user 0"
}

aws {
  client {
    maxErrorRetry = 1000
    uploadMaxAttempts = 1000
    uploadRetrySleep = '10 sec'
  }
}

